  <nav>
    <button routerLink="/">Home</button>
    <button routerLink="admin/estados">Go to estados</button>
    <button routerLink="admin/cidades">Go to cidades</button>
    <button routerLink="admin/categoriasplanta">Go to categoriaplanta</button>
    <button routerLink="admin/tags">Go to tags</button>
    <button routerLink="admin/fornecedores">Go to fornecedores</button>
    <button routerLink="admin/plantas">Go to plantas</button>
    <button routerLink="admin/clientes">Go to clientes</button>
  </nav>

<div class="base-layout">
  <router-outlet />
</div>

