  <nav>
    <button routerLink="/">Home</button>
    <button routerLink="/estados">Go to estados</button>
    <button routerLink="/cidades">Go to cidades</button>
    <button routerLink="/categoriasplanta">Go to categoriaplanta</button>
    <button routerLink="/tags">Go to tags</button>
    <button routerLink="/fornecedores">Go to fornecedores</button>
    <button routerLink="/telefones">Go to telefones</button>
    <button routerLink="/plantas">Go to plantas</button>
  </nav>

  <router-outlet />

