<!-- <mat-toolbar color="primary" class="toolbar-title">Cadastro de Categoria de Planta</mat-toolbar> -->

<div class="pageContent">
  <div class="header">
    <h1>Editar Fornecedor</h1>
  </div>

  <mat-card class="card">
    <mat-card-content>
      <form [formGroup]="formGroup">

        <mat-form-field appearance="fill" class="full-width-input">
          <mat-label>Nome</mat-label>
          <input matInput type="text" formControlName="nome">

          <mat-error *ngIf="formGroup.get('nome')?.errors && formGroup.get('nome')?.touched">
            {{this.getErrorMessages('nome', this.formGroup.get('nome')?.errors)}}

            @if (formGroup.get('nome')?.hasError('apiError')) {
              <span>{{formGroup.get('nome')?.getError('apiError')}}</span>
            }
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width-input">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email">

          <mat-error *ngIf="formGroup.get('email')?.errors && formGroup.get('email')?.touched">
            {{this.getErrorMessages('email', this.formGroup.get('email')?.errors)}}

            @if (formGroup.get('email')?.hasError('apiError')) {
              <span>{{formGroup.get('email')?.getError('apiError')}}</span>
            }
          </mat-error>
        </mat-form-field>

        <!-- has telefone -->
        <mat-slide-toggle
          formControlName="hasTelefone"
          class="example-margin"
          [color]="'primary'"
          id="hasTelefone"
        >
          Adicionar telefone
        </mat-slide-toggle>
        <br>
        <br>
        <div formGroupName="telefone" id="telefone">

          <mat-form-field style="width: 30%;">
            <mat-label>DDD</mat-label>
            <input matInput formControlName="ddd">
            <mat-error *ngIf="formGroup.get('telefone')?.get('ddd')?.invalid">
              {{ getErrorMessages('telefone.ddd', formGroup.get('telefone')?.get('ddd')?.errors) }}
            </mat-error>
          </mat-form-field>

          <mat-form-field style="width: 70%;">
            <mat-label>Número</mat-label>
            <input matInput formControlName="numero">
            <mat-error *ngIf="formGroup.get('telefone')?.get('numero')?.invalid">
              {{ getErrorMessages('telefone.numero', formGroup.get('telefone')?.get('numero')?.errors) }}
            </mat-error>
          </mat-form-field>
        </div>

        <mat-form-field appearance="fill" class="full-width-input">
          <mat-label>Cnpj</mat-label>
          <input matInput type="text" formControlName="cnpj">
          @if (formGroup.get('cnpj')?.valid && formGroup.get('cnpj')) {
            <mat-hint>{{ formatarCnpj(formGroup.get('cnpj')?.value) }}</mat-hint>
          }

          <mat-error *ngIf="formGroup.get('cnpj')?.errors && formGroup.get('cnpj')?.touched">
            {{this.getErrorMessages('cnpj', this.formGroup.get('cnpj')?.errors)}}

            @if (formGroup.get('cnpj')?.hasError('apiError')) {
              <span>{{formGroup.get('cnpj')?.getError('apiError')}}</span>
            }
          </mat-error>
        </mat-form-field>

      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button
        color="primary"
        (click)="salvar()"
      >
        Salvar
      </button>
      <button mat-raised-button
        *ngIf="formGroup?.get('id')?.value"
        color="warn"
        (click)="excluir()"
      >
        Excluir
      </button>
      <button mat-raised-button
        routerLink="/admin/fornecedores"
      >
        cancelar
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<!-- <form [formGroup]="formGroup" (ngSubmit)="onSubmit()"></form></form>-->
