<!-- <mat-toolbar color="primary" class="toolbar-title">Cadastro de Categoria de Planta</mat-toolbar> -->


<div class="pageContent">
  <div class="header">
    <h1>Cadastro de Cidades</h1>
  </div>

  <mat-card class="card">
    <mat-card-content>
      <form [formGroup]="formGroup">

        <mat-form-field appearance="fill" class="full-width-input">
          <mat-label>Nome</mat-label>
          <input matInput type="text" formControlName="nome">

          <mat-error *ngIf="formGroup.get('nome')?.errors && formGroup.get('nome')?.touched">
            {{this.getErrorMessages('nome', this.formGroup.get('nome')?.errors)}}

            @if (formGroup.get('nome')?.hasError('apiError')) {
              <span>{{formGroup.get('nome')?.getError('apiError')}}</span>
            }
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width-input">
          <mat-label>Estado</mat-label>

          <mat-select formControlName="estado">
            @for (estado of estados; track estado.id) {
              <mat-option [value]="estado.id">{{estado.nome}} ({{estado.sigla}})</mat-option>
            }
          </mat-select>

          <mat-error *ngIf="formGroup.get('estado')?.errors && formGroup.get('estado')?.touched">
            {{this.getErrorMessages('estado', this.formGroup.get('estado')?.errors)}}


            @if (formGroup.get('estado')?.hasError('apiError')) {
              <span>{{formGroup.get('estado')?.getError('apiError')}}</span>
            }
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width-input">
          <mat-label>Frete</mat-label>
          <input matInput type="number" formControlName="frete">

          <mat-error *ngIf="formGroup.get('frete')?.errors && formGroup.get('frete')?.touched">
            {{this.getErrorMessages('frete', this.formGroup.get('frete')?.errors)}}


            @if (formGroup.get('frete')?.hasError('apiError')) {
              <span>{{formGroup.get('frete')?.getError('apiError')}}</span>
            }
          </mat-error>

        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button
        color="primary"
        (click)="salvar()"
      >
        Salvar
      </button>
      <button mat-raised-button
        *ngIf="formGroup?.get('id')?.value"
        color="warn"
        (click)="excluir()"
      >
        Excluir
      </button>
      <button mat-raised-button
        routerLink="/admin/cidades"
      >
        cancelar
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<!-- <form [formGroup]="formGroup" (ngSubmit)="onSubmit()"></form></form>-->
